/* Index Styles */
body{
	margin-left: 10%;
	margin-right: 10%;
	font-family: sans-serif;
}
header{
	display: flex;
	background-color: black;
	color: white;
	margin-bottom: 3%;
}
header li{
	display: inline;
}
header div{
	margin-left: 3%;
	padding-left: 2%;
}
header nav{
	margin-left:4%;
}
header li{
	margin-left: 4%;
}
nav{
	margin-left: 10%;
	margin-top: 3%;
	width: 60%;
	text-align: center;
}
li a{
	text-decoration: none;
}
a:link{
	color: white;
	transition: 0.25s linear;
}
a:visited{
	color: darkred;
	transition: 0.25s linear;
	/*Having a visited style almost seems super cheap - is it a requirement?
	   If not, we can just change it to the link colour and not deal with it! */
}
a:hover{
	color: red;
	transition: 0.25s linear;
}
a.selected
{
	color:red;
	font-weight: bold;
}
#top
{
	margin-bottom: 1em;
	text-align: center;
}
#top img
{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:80%;
	height:80%;
}
#bot{
	display: flex;
	margin-left: 6%;
	margin-right: 6%;
	text-align: center;
	border-top-style: solid;
	border-top-color: red;
}
#botLeft{
	margin-right: 2%;
}
#botRight{
	margin-left: 2%;
}
footer{
	display: flex;
	background-color: black;
	color: white;
}
#copyright{
	padding: 1%;
}
#social-networks{
	margin-left: 50%;
}
