/* Index Styles */
body
{
	margin-left: 10%;
	margin-right: 10%;
	font-family: sans-serif;
}
header
{
	display: flex;
	background-color: black;
	color: white;
	margin-bottom: 3%;
}
header li
{
	display: inline;
}
header div
{
	margin-left: 5%;
	padding-left: 2%;
	width:10%;
}
header nav
{
	margin-left:4%;
}
header li
{
	margin-left: 4%;
}
nav
{
	margin-top: 4em;
	width: 100ex;
	text-align: center;
}
nav li a{
	text-decoration: none;
}
nav a:link{
	color: white;
	transition: 0.25s linear;
}
nav a:visited{
	color: white;
	transition: 0.25s linear;
}
nav a:hover{
	color: red;
	transition: 0.25s linear;
}
nav a.selected
{
	color:red;
	font-weight: bold;
}
#top
{
	margin-bottom: 1em;
	text-align: center;
}
#top img
{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:80%;
	height:80%;
}
#bot{
	display: flex;
	margin-left: 6%;
	margin-right: 6%;
	text-align: center;
	border-top-style: solid;
	border-top-color: red;
}
#botLeft{
	margin-right: 2%;
}
#botRight{
	margin-left: 2%;
}

#topLeft{
	margin-right: 2%;
}
#topRight{
	margin-left: 2%;
}

footer{
	display: flex;
	background-color: black;
	color: white;
}
#copyright{
	padding: 1%;
}
#social-networks{
	margin-left: 50%;
}


#main-img
{
	max-width:100%;
	height:auto;
	margin-bottom: 2em;
}